body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.open-menu, .close-menu {
  display: none;
}

.hero {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 8% 30px 8%;
}

.hero .logo {
  margin-right: 30px;
}

.hero a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.hero nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.hero nav ul li {
  margin: 0 0.7em;
}

.table-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.mens-decathlon, .mens-heptathlon, .womens-heptathlon {
  position: absolute;
  width: 60%;
  left: 18%;
  top: 40%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  max-height: 100%;
}

.mens-decathlon span, .mens-heptathlon span, .womens-heptathlon span {
  text-align: center;
}

.row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% auto auto;
      grid-template-columns: 40% auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.row input {
  height: 25px;
  width: 110px;
  font-size: 1.2em;
}

.result-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 5px;
}

.result-row p {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  text-align: right;
}

.result-row span {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.mens-heptathlon, .womens-heptathlon {
  display: none;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

@media only screen and (max-width: 768px) {
  .open-menu {
    display: block;
  }
  .logo {
    font-size: 1em;
  }
  .row {
    margin-bottom: 2%;
  }
  .row p {
    font-size: 0.8em;
  }
  .row span {
    font-size: .9em;
  }
  .mens-decathlon, .mens-heptathlon, .womens-heptathlon {
    width: 90%;
    left: 5%;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero nav {
    z-index: 999;
    display: none;
    position: fixed;
    width: 80%;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: #bfedff;
  }
  .hero nav .close-menu {
    display: block;
    width: 25px;
    padding: 20px;
  }
  .hero nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em;
  }
  .hero nav ul li {
    margin: 1em 0.7em;
  }
  nav.show-menu {
    display: block;
  }
  .row input {
    height: 15px;
    width: 70px;
    font-size: 0.9em;
  }
  .open-menu {
    width: 25px;
  }
  .result-row p {
    font-size: 0.9em;
  }
  .result-row span {
    font-size: 0.9em;
  }
}
/*# sourceMappingURL=main.css.map */