body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.main {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.hero {
    flex: 0 1 auto;

    margin: auto 8% auto 8%;
    display: flex;
    align-items: baseline;
    justify-content: center;

    .logo {
        margin-right: 30px;
    }

    margin: 20px 8% 30px 8%;
    display: flex;
    align-items: baseline;

    a {
        text-decoration: none;
        color: black;
        font-weight: 500;
    }

    nav ul {
        display: flex;
        list-style: none;

        li {
            margin: 0 .7em;
        }
    }
}

.table-container {
   flex: 1 1 auto; 
   position: relative;
}

.table {
    position: absolute;
    width: 60%;
    left: 20%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    span {
        text-align: center;
    }
}

.row {
    display: grid;
    grid-template-columns: auto 33% 33%;
    align-items: center;
    justify-items: center;

    input {
        height: 25px;
        width: 110px;
        font-size: 1.2em;
    }
}

.result-row {
    display: flex;
    justify-items: center;
    align-items: center;
    row-gap: 5px;

    p {
        flex-grow: 2;
        text-align: right;
    }

    span {
        flex-grow: 1;
    }
}

@media only screen and (max-width: 768px) {

    .table {
        width: 95%;
    }
}